__pycache__/
*.py[cod]
*.ipynb
build/
dist/
sdist/
.eggs/
*.egg-info/
lists/*

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.db

# Sphinx documentation
docs/_build/
.vscode
.env
